<% if user_signed_in? %>
  <div id='app'></div>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => ''  %>
   |
  <%= link_to "Login", new_user_session_path, :class => ''  %>
<% end %>
